@tailwind base;
@tailwind components;
@tailwind utilities;


/* For modern browsers */
@media (forced-colors: active) {
    /* High-contrast mode styles here */
}

/* For legacy Edge/IE */
@media (-ms-high-contrast: active) {
    /* High-contrast mode styles here */
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}